#Merge in pandas and pyspark

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark

In [0]:
import pandas as pd
import numpy as np

In [0]:
df_c1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
df_c2= pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

In [0]:
print(df_c1.head(5))
print(df_c2.head(5))

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [0]:
sdf_c1 = spark.createDataFrame(df_c1)
sdf_c2 = spark.createDataFrame(df_c2)

In [0]:
sdf_c1.show(5)
sdf_c2.show(5)

+----+---------+------------+----------+------+------------+-----+------+--------------------+----------+-----------+-----------+-----------+-----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|Unnamed: 9|Unnamed: 10|Unnamed: 11|Unnamed: 12|Unnamed: 13|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----------+-----------+-----------+-----------+-----------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|      null|       null|       null|       null|       null|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|      null|       null|       null|       null|       null|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|      null|       null|       null|       null|       null|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|      null|       null|       null|       null|       null|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|      null|       null|       null|       null|       null|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----------+-----------+-----------+-----------+-----------+
only showing top 5 rows

+----+---------+------------+----------+------+------------+-----+------+------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|               car|
+----+---------+------------+----------+------+------------+-----+------+------------------+
|33.0|        4|          91|        53|  1795|        17.4|   76|     3|       honda civic|
|20.0|        6|         225|       100|  3651|        17.7|   76|     1|    dodge aspen se|
|18.0|        6|         250|        78|  3574|        21.0|   76|     1| ford granada ghia|
|18.5|        6|         250|       110|  3645|        16.2|   76|     1|pontiac ventura sj|
|17.5|        6|         258|        95|  3193|        17.8|   76|     1|     amc pacer d/l|
+----+---------+------------+----------+------+------------+-----+------+------------------+
only showing top 5 rows

#it seems our first dataset has some unnamed blank columns, fix cars1

In [0]:
df_c1 = df_c1.loc[:,'mpg':'car']
df_c1.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [0]:
sdf_c1 = sdf_c1.drop('unnamed: 9','unnamed: 10','unnamed: 11','unnamed: 12','unnamed: 13')
sdf_c1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

#What is the number of observations in each dataset?

In [0]:
print(df_c1.shape)
print(df_c2.shape)

(198, 9)
(200, 9)

In [0]:
df = df_c1.append(df_c2)
df

<command-2884670029599007>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df_c1.append(df_c2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

In [0]:
sdf = sdf_c1.union(sdf_c2)
sdf.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [0]:
sdf.describe().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|summary|               mpg|         cylinders|      displacement|        horsepower|           weight|      acceleration|            model|            origin|                 car|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+
|  count|               398|               398|               398|               398|              398|               398|              398|               398|                 398|
|   mean|23.514572864321607| 5.454773869346734|193.42713567839195|104.46938775510205|2970.424623115578|15.568090452261307|76.01005025125629|1.5728643216080402|                null|
| stddev| 7.815984312565781|1.7010042445332114|104.26868251535473|38.491159932828495|846.8417741973267|2.7576889298126757|3.697626646732621|0.8020548777266147|                null|
|    min|               9.0|                 3|                68|               100|             1613|               8.0|               70|                 1|amc ambassador br...|
|    max|              46.6|                 8|               455|                 ?|             5140|              24.8|               82|                 3|    vw rabbit custom|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+--------------------+

#there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [0]:
owners = np.random.randint(15000,73000, 398)
df['owners'] = pd.Series(owners)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,33653
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,38821
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,22561
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,31787
4,17.0,8,302,140,3449,10.5,70,1,ford torino,44944
...,...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,29938
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,61857
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,52382
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,71463
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,20112

In [0]:
sdf.withColumn("owners", floor(rand()*(73000-15000)+15000)).show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|owners|
+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...| 61353|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320| 42170|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite| 54783|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst| 62417|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino| 49536|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500| 45226|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala| 40779|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii| 46512|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina| 18799|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl| 40932|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se| 62475|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340| 44095|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...| 29049|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...| 32078|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...| 39660|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster| 18712|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet| 66037|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick| 29499|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510| 26954|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...| 38108|
+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
only showing top 20 rows