#Stats in pandas and pyspark

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pandas as pd
spark

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")
df.head()

,Unnamed: 0,Id,Name,Year,Gender,State,Count
0,11349,11350,Emma,2004,F,AK,62
1,11350,11351,Madison,2004,F,AK,48
2,11351,11352,Hannah,2004,F,AK,46
3,11352,11353,Grace,2004,F,AK,44
4,11353,11354,Emily,2004,F,AK,41

In [0]:
sdf = spark.createDataFrame(df)
sdf.show()

+----------+-----+---------+----+------+-----+-----+
|Unnamed: 0|   Id|     Name|Year|Gender|State|Count|
+----------+-----+---------+----+------+-----+-----+
|     11349|11350|     Emma|2004|     F|   AK|   62|
|     11350|11351|  Madison|2004|     F|   AK|   48|
|     11351|11352|   Hannah|2004|     F|   AK|   46|
|     11352|11353|    Grace|2004|     F|   AK|   44|
|     11353|11354|    Emily|2004|     F|   AK|   41|
|     11354|11355|  Abigail|2004|     F|   AK|   37|
|     11355|11356|   Olivia|2004|     F|   AK|   33|
|     11356|11357| Isabella|2004|     F|   AK|   30|
|     11357|11358|   Alyssa|2004|     F|   AK|   29|
|     11358|11359|   Sophia|2004|     F|   AK|   28|
|     11359|11360|   Alexis|2004|     F|   AK|   27|
|     11360|11361|Elizabeth|2004|     F|   AK|   27|
|     11361|11362|   Hailey|2004|     F|   AK|   27|
|     11362|11363|     Anna|2004|     F|   AK|   26|
|     11363|11364|  Natalie|2004|     F|   AK|   25|
|     11364|11365|    Sarah|2004|     F|   AK|   25|
|     11365|11366|   Sydney|2004|     F|   AK|   25|
|     11366|11367|      Ava|2004|     F|   AK|   23|
|     11367|11368|  Trinity|2004|     F|   AK|   22|
|     11368|11369|    Haley|2004|     F|   AK|   21|
+----------+-----+---------+----+------+-----+-----+
only showing top 20 rows

#Delete the column 'Unnamed: 0' and 'Id'

In [0]:
df = df.drop("Unnamed: 0",axis=1)
del df['Id']
df.head()

,Name,Year,Gender,State,Count
0,Emma,2004,F,AK,62
1,Madison,2004,F,AK,48
2,Hannah,2004,F,AK,46
3,Grace,2004,F,AK,44
4,Emily,2004,F,AK,41

In [0]:
sdf = sdf.drop('Unnamed: 0',"Id")
sdf.show()

+---------+----+------+-----+-----+
|     Name|Year|Gender|State|Count|
+---------+----+------+-----+-----+
|     Emma|2004|     F|   AK|   62|
|  Madison|2004|     F|   AK|   48|
|   Hannah|2004|     F|   AK|   46|
|    Grace|2004|     F|   AK|   44|
|    Emily|2004|     F|   AK|   41|
|  Abigail|2004|     F|   AK|   37|
|   Olivia|2004|     F|   AK|   33|
| Isabella|2004|     F|   AK|   30|
|   Alyssa|2004|     F|   AK|   29|
|   Sophia|2004|     F|   AK|   28|
|   Alexis|2004|     F|   AK|   27|
|Elizabeth|2004|     F|   AK|   27|
|   Hailey|2004|     F|   AK|   27|
|     Anna|2004|     F|   AK|   26|
|  Natalie|2004|     F|   AK|   25|
|    Sarah|2004|     F|   AK|   25|
|   Sydney|2004|     F|   AK|   25|
|      Ava|2004|     F|   AK|   23|
|  Trinity|2004|     F|   AK|   22|
|    Haley|2004|     F|   AK|   21|
+---------+----+------+-----+-----+
only showing top 20 rows

# Are there more male or female names in the dataset?

In [0]:
print(df["Gender"].value_counts())
df.groupby('Gender').agg('Gender').count()

F    558846
M    457549
Name: Gender, dtype: int64
Out[6]: Gender
F    558846
M    457549
Name: Gender, dtype: int64

In [0]:
sdf.groupBy('Gender').agg({'Gender':'Count'}).show()

+------+-------------+
|Gender|count(Gender)|
+------+-------------+
|     F|       558846|
|     M|       457549|
+------+-------------+

#Group the dataset by name and assign to names

In [0]:
df.drop('Year',axis=1).groupby('Name').sum().sort_values('Count',ascending=False).head()

,Count
Name,
Jacob,242874
Emma,214852
Michael,214405
Ethan,209277
Isabella,204798

In [0]:
sdf.drop('Year').groupBy('Name').sum().alias('summ').orderBy('sum(Count)',ascending=False).show(5)

+--------+----------+
|    Name|sum(Count)|
+--------+----------+
|   Jacob|    242874|
|    Emma|    214852|
| Michael|    214405|
|   Ethan|    209277|
|Isabella|    204798|
+--------+----------+
only showing top 5 rows

#How many different names exist in the dataset?

In [0]:
print(df.groupby('Name').count().shape[0])
df['Name'].nunique()

17632
Out[10]: 17632

In [0]:
sdf.select('Name').distinct().count()

Out[11]: 17632

#What is the name with most occurrences?

In [0]:
sdf.groupBy('Name').agg({'Count':'sum'}).orderBy('sum(Count)',ascending=False).show(1)

+-----+----------+
| Name|sum(Count)|
+-----+----------+
|Jacob|    242874|
+-----+----------+
only showing top 1 row

In [0]:
df.groupby("Name").agg({'Count':'sum'}).sort_values('Count',ascending=False).head(1)

,Count
Name,
Jacob,242874

#How many different names have the least occurrences?

In [0]:
sdf.orderBy('Count').agg({'Count':'count'}).show()

+------------+
|count(Count)|
+------------+
|     1016395|
+------------+

In [0]:
df['Count'].describe()

Out[15]: count    1.016395e+06
mean     3.485012e+01
std      9.739735e+01
min      5.000000e+00
25%      7.000000e+00
50%      1.100000e+01
75%      2.600000e+01
max      4.167000e+03
Name: Count, dtype: float64

In [0]:
# df.groupby("Name").agg({'Count':'sum'}).sort_values('Count').head(100)
df[df.Count == df.Count.min()].shape

Out[16]: (147086, 5)

In [0]:
len(df[df.Count == df.Count.min()])

Out[18]: 147086

#Get a summary with the mean, min, max, std and quartiles.

In [0]:
df.describe()

,Year,Count
count,1.016395e+06,1.016395e+06
mean,2.009053e+03,3.485012e+01
std,3.138293e+00,9.739735e+01
min,2.004000e+03,5.000000e+00
25%,2.006000e+03,7.000000e+00
50%,2.009000e+03,1.100000e+01
75%,2.012000e+03,2.600000e+01
max,2.014000e+03,4.167000e+03

In [0]:
sdf.describe().show()

+-------+--------+------------------+-------+-------+-----------------+
|summary|    Name|              Year| Gender|  State|            Count|
+-------+--------+------------------+-------+-------+-----------------+
|  count| 1016395|           1016395|1016395|1016395|          1016395|
|   mean|Infinity|2009.0531899507573|   null|   null|34.85012421351935|
| stddev|    null|3.1382928281815623|   null|   null| 97.3973464861781|
|    min|   Aaban|              2004|      F|     AK|                5|
|    max|  Zyriah|              2014|      M|     WY|             4167|
+-------+--------+------------------+-------+-------+-----------------+